@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(45deg, $blue-color 90%, $yellow-color);
  font-family: "Orbitron", sans-serif;
  color: $white-color;
  // line-height: 1.6;
  letter-spacing: 2px;
  overflow-x: hidden;
  margin: 0;
}

img {
  width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: $white-color;
}

ul {
  list-style-type: none;
}
section {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}
