.bio {
  .flex {
    gap: 1rem;
  }
  .container {
    margin: 0 auto;

    div {
      max-width: 800px;
      margin: 0 auto;
    }
    .first-img {
      max-width: 450px;
    }
    .second-img {
      width: 300px;
      order: 2;
    }
    p {
      font-style: italic;
      color: $white-color;
      // max-width: 500px;
      margin: 0 auto;
      line-height: 1.3;
    }
  }
  .drop-cap::first-letter {
    color: $yellow-color;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 0.15rem;
  }
}
