.cars {
  .car {
    max-width: 800px;
    max-height: 300px;
    object-fit: cover;
    position: relative;
    bottom: 6rem;
    z-index: -100;
  }

  .flex {
    gap: 2rem;
  }

  figure {
    padding: 2rem;
    border-bottom: 1px dotted;
    max-width: 900px;
    margin: 0 auto;

    a {
      transition: filter 0.4s ease-in-out;
    }
    a:hover,
    a:focus {
      filter: brightness(75%);
    }

    &:last-child {
      border-bottom: none;
    }
    img {
      width: 200px;
      height: 150px;
      object-fit: cover;
      border: 0.3rem solid $white-color;
    }
  }
}
