.cars {
  .car {
    max-width: 800px;
    object-fit: cover;
    position: relative;
    bottom: 1rem;
    z-index: -100;
  }

  .flex {
    gap: 2rem;
  }

  .cars-content {
    padding: 1rem 2rem;
  }
  figure {
    padding: 2rem 0;
    border-bottom: 1px solid;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;

    h4 {
      color: $yellow-color;
      font-size: 1.3rem;
      border-bottom: 2px solid $yellow-color;
      display: inline-block;
      margin-bottom: 0.5rem;
    }
    p {
      max-width: 500px;
      text-align: left;
    }

    a {
      transition: filter 0.4s ease-in-out;
    }
    a:hover,
    a:focus {
      filter: brightness(75%);
    }

    &:last-child {
      border-bottom: none;
    }
    img {
      width: 200px;
      height: 150px;
      object-fit: cover;
      border: 0.3rem solid $white-color;
    }
  }
}
