.main-footer {
  background-color: $blue-color;

  h2 {
    font-size: 2.5rem;
  }

  .enzo {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
    span {
      font-weight: 700;
    }
  }
}
