.main-footer {
  background-color: $blue-color;
  border-top: 1px dotted $white-color;
  padding: 0 1rem;
  line-height: 1.6;

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .enzo {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
    max-width: 900px;
    margin: 0 auto;
    span {
      font-weight: 700;
    }
  }
}
