.main-footer {
  // background-color: $blue-color;
  background: $blue-color;
  border-top: 10px solid $white-color;
  padding: 0 1rem;
  line-height: 1.6;

  // Arrow
  .arrow {
    border: solid $white-color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    position: relative;
    top: 2rem;
    transition: 0.4s ease-in-out;
    border-radius: 3px;
    margin-bottom: 3rem;
  }

  .arrow:hover {
    top: 2.5rem;
  }

  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    // background: -webkit-linear-gradient(45deg, #fff, #333);
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: $yellow-color;
    margin-bottom: 1rem;
  }

  .enzo {
    color: $white-color;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    max-width: 900px;
    margin: 0 auto;
    span {
      font-weight: 300;
    }
  }
}
