.gallery {
  .gallery-main-pic {
    max-width: 800px;
    margin-bottom: 3rem;
    position: relative;
    bottom: 5.5rem;
    max-height: 50vh;
    object-fit: cover;
    object-position: bottom;
    z-index: -100;
  }

  .header-section {
    margin-top: -7rem;
  }
  .photos {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      img {
        opacity: 0.6;
        transform: scale(0.92);
      }
    }

    img {
      width: 70%;
      margin: 1rem;
      border: 0.5rem solid $white-color;
      transition: opacity, transform, 0.5s ease-in-out;

      &:hover,
      &:focus {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
