.main-header {
  // background-color: $blue-color;
  background: linear-gradient(to right, $yellow-color, $blue-color);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 999;
  line-height: 0;

  h3 {
    color: #fff;
    font-style: bold;
    font-size: 1.5rem;
  }

  h1 {
    font-family: Orbitron, sans-serif;
    font-weight: bold;
    color: $main-color;
    // background-color: $yellow-color;
    font-size: 2rem;
    span {
      color: $white-color;
      font-weight: 700;
      font-style: italic;
      font-size: 4rem;
    }
  }

  .italyflag1 {
    width: 4rem;
  }

  // possible fix for header
  // .back {
  //   max-height: 2.5rem;
  //   position: relative;
  //   bottom: 3rem;
  // }
}

.mainnav {
  background: $main-color;
  height: auto;
  align-items: flex-start;

  // Hamburger Menu
  #hamburger {
    width: 30px;
    height: 30px;
    margin: 1.7rem;
    cursor: pointer;
    position: fixed;
    top: -1rem;
    right: -1.3rem;
    z-index: 1000;

    .bar {
      height: 5px;
      width: 100%;
      background-color: $yellow-color;
      display: block;
      border-radius: 5px;
      transition: 0.2s ease;
    }

    #bar1 {
      transform: translateY(-5px);
    }
    #bar3 {
      transform: translateY(5px);
    }
  }

  .change {
    #bar1 {
      transform: rotateZ(-45deg);
      background-color: $white-color;
    }

    #bar2 {
      background-color: $white-color;
    }
    #bar3 {
      transform: translateY(4px) rotate(45deg);
      background-color: $white-color;
    }
  }
  a {
    font-size: 0.9rem;
    text-transform: uppercase;
    background: $main-color;
    color: $white-color;
    display: inline-block;
    font-weight: bold;
    padding: 0.4rem 1.5rem;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    transition: transform, background, color, 0.3s ease-in-out;

    &:hover {
      color: $yellow-color;
      transform: scale(1.05);
      background: $blue-color;
      // background: $white-color;
      text-decoration: none;
    }
  }

  .nav-links {
    // height: auto;
    justify-content: space-between;
    align-items: flex-start;
    display: none;

    &.change {
      display: block;
    }
  }
}
