.intro {
  background: url("../img/other-pic/f1-brazilian-gp-1984.jpg") no-repeat top
      center/cover,
    lighten($blue-color, $amount: 20%);
  background-blend-mode: overlay;
  min-height: 90vh;
  z-index: 1;
  background-attachment: fixed;
  p {
    color: $white-color;
    max-width: 800px;
    margin: 1rem auto;
    line-height: 2;
    text-align: left;
  }
  .accent {
    color: $yellow-color;
    font-weight: bold;
  }
  .drop-cap::first-letter {
    initial-letter: 2 1;
    color: $yellow-color;
    font-weight: bold;
    margin-right: 0.15rem;
  }
}
