.intro {
  background: url("../img/other-pic/f1-brazilian-gp-1984.jpg") no-repeat top
      center/cover,
    lighten($blue-color, $amount: 15%);
  background-blend-mode: overlay;
  min-height: 90vh;
  z-index: 1;
  p {
    max-width: 800px;
    line-height: 2;
    text-align: left;
  }
  .first::first-letter {
    initial-letter: 2;
  }
}
