@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main-header {
    .flex {
      gap: 2rem;
    }
    h1 {
      font-size: 3rem;
      span {
        font-size: 5rem;
      }
    }
  }

  .carousel-inner {
    height: 70vh;
    width: 100vw;

    img {
      height: 70vh;
      object-fit: contain;
    }
  }
  .intro {
    .lead {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .nav-links li {
    padding: 0 1rem;
  }

  .bio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 50%;
    }
  }
  .main-footer {
    h2 {
      font-size: 4rem;
    }
  }
}

@media (min-width: 1024px) {
  .carousel-inner {
    height: 90vh;
    width: 70vw;

    img {
      height: 90vh;
      object-fit: cover;
      object-position: center;
    }
  }
}
