@media (max-width: 528px) {
  .photos {
    a {
      width: 50%;
    }

    img {
      border: 0.3rem solid $white-color;
    }
  }
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-header {
    .container {
      padding: 0;
    }
    .flex {
      gap: 2rem;
    }
    h1 {
      font-size: 3rem;
      span {
        font-size: 5rem;
      }
    }
  }

  .mainnav {
    min-height: auto;
    a {
      font-size: 1rem;
    }
    .nav-links {
      height: auto;
    }
  }
  .carousel-inner {
    height: 70vh;
    width: 100vw;

    img {
      height: 70vh;
      object-fit: contain;
    }
  }
  .intro {
    position: initial;
    .lead {
      font-size: 1.2rem;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .nav-links li {
    padding: 0 1rem;
  }

  // Bio

  .bio {
    background-attachment: fixed;
  }
  // footer
  .main-footer {
    h2 {
      font-size: 4rem;
    }
  }

  // victories
  .victories {
    .nurburing1985 {
      height: 65vh;
    }
    .victories-text {
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
  }
  .victories-nav {
    .flex {
      justify-content: space-around;
    }

    li {
      margin-bottom: 0;
    }

    span {
      font-size: 0.8rem;
    }
  }

  .caesar {
    align-items: flex-start;

    .box1 {
      order: 2;
      flex: 2;
    }
    .box2 {
      flex: 1;
      order: 3;
    }

    .box3 {
      order: -2;
      flex: 2;
    }
  }

  // Cars
  .cars {
    .car {
      bottom: 4rem;
      max-height: 400px;
    }
    .flex {
      align-items: flex-start;
      justify-content: space-between;
    }
    figure {
      p {
        text-align: left;
      }
    }
  }

  // Gallery
  .gallery {
    .gallery-main-pic {
      max-height: 65vh;
      object-fit: cover;
      bottom: 3.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .carousel-inner {
    min-height: 90vh;
    width: 70vw;

    img {
      height: 90vh;
      object-fit: cover;
      object-position: center;
    }
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  // Sections title
  .head-section {
    font-size: 2.5rem;
  }
  .cars {
    figure {
      img {
        width: 300px;
        height: 200px;
      }
    }
  }
}
