@media (max-width: 528px) {
  .photos {
    a {
      width: 50%;
    }

    img {
      border: 0.3rem solid $white-color;
    }
  }
}

@media (min-width: 768px) {
  body {
    background: linear-gradient(
      68deg,
      $yellow-color,
      $blue-color,
      $blue-color,
      $yellow-color
    );
  }
  .flex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-header {
    .flex {
      gap: 2rem;
    }

    #logo {
      width: 3.5rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 3rem;
      span {
        font-size: 5rem;
      }

      .italyflag1 {
        width: 3.5rem;
      }
    }
    a {
      padding-top: 0.5rem;
      height: 96px;
    }
  }

  // Nav
  .mainnav {
    max-height: 10vh;
    padding-top: 0.5rem;

    #hamburger {
      display: none;
    }
    a {
      font-size: 1rem;
    }
    .nav-links {
      height: auto;
      display: inline-flex;

      &.change {
        display: inline-flex;
      }
    }
  }

  // slider
  .carousel-inner {
    height: 70vh;
    width: 100vw;

    img {
      min-height: 70vh;
      object-fit: contain;
      object-position: top;
    }
  }
  .intro-slider {
    top: 1rem;
    .lead {
      font-size: 1.2rem;
      max-width: 650px;
      margin: 0 auto 1.5rem;
    }
  }

  .nav-links li {
    padding: 0 1rem;
  }

  // Intro

  .intro {
    background-attachment: fixed;
    display: flex;
    justify-content: center;

    .drop-cap::first-letter {
      font-size: 3rem;
    }
  }
  // footer
  .main-footer {
    .arrow {
      padding: 16px;
    }
    h2 {
      font-size: 4rem;
    }
  }

  // victories
  .victories {
    .nurburing1985 {
      max-width: 100vw;
      height: 65vh;
      object-fit: cover;
    }
    .victories-text {
      max-width: 700px;
      margin: 0 auto;
      margin-bottom: 3rem;

      .drop-cap::first-letter {
        font-size: 3rem;
        color: $yellow-color;
      }
    }
  }

  .victories-nav {
    padding: 0.1rem 0;

    .grid {
      // padding: 0.3rem 0;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    li {
      margin-bottom: 0;
    }

    span {
      font-size: 0.8rem;
    }
  }

  .victories-container {
    align-items: flex-start;

    .box3 {
      grid-column: 1/-1;

      .le-mans {
        height: 160px;
        object-fit: cover;
      }
    }
  }

  // Cars
  .cars {
    .car {
      bottom: 1rem;
      max-width: 100vw;
      max-height: 70vh;
      object-position: bottom;
    }
    .flex {
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      max-width: 1800px;
    }
    figcaption {
      p {
        max-width: 700px;
      }
      h4 {
        display: inline-block;
        padding-bottom: 0.5rem;
      }
    }
  }

  // Gallery
  .gallery {
    .gallery-main-pic {
      max-width: 100vw;
      max-height: 65vh;
      object-fit: cover;
      bottom: 3.5rem;
    }

    .header-section {
      margin-top: -5rem;
    }
  }
}

@media (min-width: 1024px) {
  .carousel-inner {
    min-height: 80vh;
    width: 100vw;

    img {
      height: 80vh;
      object-fit: contain;
      object-position: top;
    }
  }
  .intro-slider {
    height: 40vh;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  // Sections title
  .head-section {
    font-size: 2.5rem;
  }
  .cars {
    figure {
      img {
        width: 400px;
        height: 250px;
      }
    }
  }
  .victories {
    .victories-text {
      max-width: 900px;
    }

    .victories-nav {
      .grid {
        padding: 0.3rem 0;
      }
    }
  }

  .victories-container {
    align-items: flex-start;

    p {
      font-size: 1rem;
    }

    .box1 {
      order: 2;
      flex: 2;
    }
    .box2 {
      flex: 1;
      order: 1;
    }

    .box3 {
      order: -2;
      flex: 2;
      grid-column: initial;
    }
  }
}

// Bigger Screen
@media (min-width: 1540px) {
  .container {
    max-width: 1800px;
  }

  .gallery {
    .photos {
      max-width: 1600px;
      img {
        width: 80%;
        margin: 2rem;
      }
    }
  }

  .cars {
    .container {
      max-width: 1500px;
    }
    .car {
      max-height: 70vh;
    }

    figure {
      p {
        max-width: 900px;
      }
    }
  }

  .intro {
    p {
      max-width: 1200px;
    }
  }
}
