.carousel-inner {
  position: relative;
  height: 60vh;
  width: 100vw;
  margin: 0 auto;
  top: -4.5rem;
  overflow: hidden;

  img {
    height: 55vh;
    object-fit: contain;
  }
}

.intro {
  // transform: translate(-50%);
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  position: relative;
  bottom: 8rem;

  .lead {
    color: $white-color;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    top: 1rem;
    padding: 0 1rem;
    max-width: 550px;
    margin: 0 auto;
  }
}
