.carousel-inner {
  position: relative;
  height: 60vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;

  img {
    height: 55vh;
    object-fit: contain;
    object-position: top;
  }
}

.intro-slider {
  width: 100%;
  margin: 0 auto;
  height: 35vh;
  position: relative;
  bottom: 4rem;

  .lead {
    color: $white-color;
    font-size: 1rem;
    font-weight: 900;
    position: relative;
    top: 1rem;
    padding: 0 1rem;
    max-width: 550px;
    margin: 0.5rem auto 1.5rem;
    text-transform: uppercase;
    color: $white-color;
    z-index: -1;
    // -webkit-background-clip: text;
    // background-clip: text;
    // color: transparent;
  }
}

// COOKIE BANNER
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $main-color;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 100;
}

#accept-cookies {
  background-color: $blue-color;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
