$main-color: #7e0f08;
$yellow-color: #f6c715;
$blue-color: #0a0e3b;
$white-color: #fff;

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

%btn {
  padding: 0.8rem 1.5rem;
  display: inline-block;
  border-radius: 0.5rem;
  color: $white-color;
  transition: 0.3s ease;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid $white-color;
  z-index: 2;
  position: relative;
  overflow: hidden;
  background: transparent;

  &:hover,
  &:focus {
    background-color: $white-color;
    color: $white-color;
  }

  &:before {
    content: "";
    width: 0;
    height: 100%;
    background: $main-color;
    position: absolute;
    top: 0;
    left: -20%;
    z-index: -2;
    transition: 0.4s cubic-bezier(0.2, 0.05, 0.05, 0.1);
    transform: skewX(-50deg);
    opacity: 1;
  }

  &:hover::before,
  &:focus::before {
    width: 136%;
    color: $white-color;
    background: $main-color;
  }

  &:after {
    content: "";
    width: 0;
    height: 100%;
    background: $main-color;
    position: absolute;
    top: 0;
    left: -20%;
    z-index: -3;
    transition: 0.4s cubic-bezier(0.2, 1.05, 0.05, 0.1);
    transform: skewX(-50deg);
    opacity: 0;
  }

  &:hover::after,
  &:focus::after {
    width: 136%;
    background: $blue-color;
    color: $white-color;
  }
}

.btn-main {
  @extend %btn;
  // background: ligthen($main-color, 5%);
  background: $blue-color;
}
.btn-secondary {
  @extend %btn;
  background: $yellow-color;
  color: $blue-color;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.header-section {
  font-size: 2rem;
  color: $yellow-color;
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
}

// Margin and Padding
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 2.5rem 0;
}

.my-5 {
  margin: 3rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 2.5rem 0;
}

.py-5 {
  padding: 3rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.mx-3 {
  margin: 0 2rem;
}

.mx-4 {
  margin: 0 2.5rem;
}

.mx-5 {
  margin: 0 3rem;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 1.5rem;
}

.px-3 {
  padding: 0 2rem;
}

.px-4 {
  padding: 0 2.5rem;
}

.px-5 {
  padding: 0 3rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 2.5rem;
}

.m-5 {
  margin: 3rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 2.5rem;
}

.p-5 {
  padding: 3rem;
}
