// Caesar Palace
.victories {
  background: $blue-color;
  .nurburing1985 {
    max-width: 300px;
    margin: 0 auto;
    height: 65vh;
    object-fit: cover;
    margin-top: -3rem;
    background: green;
  }

  .victories-title {
    color: $yellow-color;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.2rem;
  }
}

.victories-nav {
  background-color: saddlebrown;
  width: 100vw;

  span {
    font-size: 0.7rem;
  }

  li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }

  a {
    color: #ccc;
    transition: color, font, 0.2s ease-in;

    &:hover {
      color: $white-color;
      font-weight: 700;
    }
  }
}
.victories-container {
  background: url("../img/other-pic/michele-alboreto-il-ricordo-di-un-grande-uomo-di-un-grande-pilota-dal-sorriso-infinito.jpg")
    top center/contain;
  background-color: $blue-color;
  background-blend-mode: overlay;
  a {
    transition: filter 0.4s ease;
  }
  a:hover,
  a:focus {
    filter: brightness(75%);
  }
  p {
    font-size: 0.8rem;
  }

  h3 {
    color: $yellow-color;
    margin: 1rem 0;
  }

  h4 {
    margin-top: 0.5rem;
    font-weight: 100;
  }

  .box1 {
    text-align: left;
  }
  .box1,
  .box2,
  .box3 {
    img {
      width: 240px;
      margin-top: 1rem;
    }
  }

  .box-3 {
    .grid_a {
      font-size: 0.5rem;
    }
  }
  iframe {
    margin: 1rem 0;
    justify-content: center;
  }
}

// Detroit
.detroit,
.caesar-palace,
.zolder,
.montreal,
.nurburgring {
  background: rgba(246, 199, 21, 0.5);
}
