// Caesar Palace
.victories {
  .nurburing1985 {
    max-width: 800px;
    margin: 0 auto;
    height: 45vh;
    object-fit: cover;
    margin-top: -3rem;
  }

  p {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
  }

  .drop-cap::first-letter {
    font-size: 2rem;
    color: $yellow-color;
  }
  .victories-title {
    color: $yellow-color;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.2rem;
  }
}

.victories-nav {
  // background-color: saddlebrown;
  background: linear-gradient(45deg, green, $white-color, $main-color);
  width: 100%;
  &:nth-of-type(2) {
    margin-bottom: -2rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  span {
    font-size: 0.9rem;
    font-weight: bold;
  }

  li {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
    padding-bottom: 0.2rem;
    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      background: $yellow-color;
      bottom: 0;
      left: 4rem;
      transition: 0.5s width ease;
    }
    &:hover::after {
      width: 50%;
    }
  }

  a {
    color: $blue-color;
    transition: color 0.4s ease-in-out;
    font-weight: 700;

    &:hover {
      color: #000;
    }
  }
}
.victories-container {
  background: url("../img/other-pic/collage.jpg") top center/contain;
  background-color: lighten($blue-color, $amount: 15%);
  background-blend-mode: overlay;

  a {
    transition: filter 0.4s ease;
  }
  a:hover,
  a:focus {
    filter: brightness(75%);
  }
  p {
    font-size: 0.9rem;
  }

  h3 {
    color: $yellow-color;
    margin: 1rem 0;
  }

  h4 {
    margin-top: 0.5rem;
    font-weight: 100;
  }

  .box1 {
    text-align: left;
    margin-bottom: 1rem;
  }
  .box1,
  .box2,
  .box3 {
    img {
      width: 240px;
      object-fit: cover;
      margin-top: 1rem;
    }
  }

  .box2,
  .box3 {
    justify-self: center;
    .grid_a,
    .grid_b {
      margin-bottom: 0.5rem;
    }
  }
  iframe {
    margin: 1rem 0;
    justify-content: center;
  }
}

// Circuit Image

.circuit {
  background: rgba(246, 199, 21, 0.5);
  clip-path: polygon(100% 6%, 100% 100%, 0 95%, 0 0);
  margin-bottom: 1rem;
  padding: 1rem;
}
